# Java / Maven
target/
*.iml
.idea/
.project
.classpath
.settings/
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
.vscode/

# OS
.DS_Store

# Env
.env
.env.*
secrets.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
